<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-hello-kotlin"
        version="1.0.0">

  <name>Hello Kotlin</name>

  <engines>
    <engine name="cordova" version=">=7.1.0"/>
    <engine name="cordova-android" version=">=7.0.0"/>
  </engines>

  <author email="dave@workingedge.co.uk">Dave Alden</author>

  <asset src="www/hellokotlin.js" target="js/hellokotlin.js"/>

  <js-module src="www/hellokotlin.js" name="hellokotlin">
    <clobbers target="hellokotlin" />
  </js-module>

  <platform name="android"
            kotlin="1.2.30">
    <!-- Add Kotlin support -->
    <hook type="after_plugin_add" src="hooks/support-kotlin.js" />
    <hook type="after_platform_add" src="hooks/support-kotlin.js" />
    <framework src="org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.2.31" />
    <apply-plugin>kotlin-android-extensions</apply-plugin>
    <apply-plugin>kotlin-kapt</apply-plugin>

    <!-- Cleanup Kotlin source on uninstall -->
    <hook type="before_plugin_rm" src="hooks/on-uninstall.js" />
    <hook type="before_plugin_uninstall" src="hooks/on-uninstall.js" />

    <config-file target="config.xml" parent="/*">
      <feature name="HelloKotlin">
        <param name="android-package" value="cordova.plugin.HelloKotlin"/>
      </feature>
    </config-file>

    <source-file src="src/HelloKotlin.kt" target-dir="app/src/main/java/cordova/plugin"/>

    <source-file src="src/build-extras.gradle" target-dir="."/>
  </platform>
</plugin>
